@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


$font-family: 'Montserrat', sans-serif;
$white-color: #fff;
$black-color:#000;
$border-color: #75cbdc;
$blue-text: #6fccde;
$footer-color:#818181;